{extend name='admin@public/content'}

{block name="button"}
{if auth("$classuri/add")}
<button data-open='{:url("@$classuri/add")}' data-title="添加广告" class='layui-btn layui-btn-sm layui-btn-primary'>添加广告</button>
<button data-update data-field='delete' data-action='{:url("$classuri/articlestatus")}' class='layui-btn layui-btn-sm layui-btn-primary'>删除</button>
{/if}
{if auth("$classuri/del")}
{/if}
{/block}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>所属级别</th>
            <th class='text-left nowrap'>广告类型</th>
            <th class='text-left nowrap'>广告图片</th>
            <th class='text-center nowrap'>添加时间</th>
            <th class='text-center'></th>
            <th class='text-center'></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.id}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.adver_level}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.type}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc"><img src="{$vo.main_img}" alt=""></span>
            </td>
            <td class='text-center nowrap'>
                {$vo.add_at|date="Y-m-d H:i:s"}
            </td>
            <td class='text-center nowrap'>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="修改广告级别" data-modal='{:url("@$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}
            </td>
            <td></td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/if}-->
</form>
{/block}