{extend name='admin@public/content'}

{block name="button"}
{if auth("$classuri/add")}
<!--<button data-open='{:url("$classuri/add")}' data-title="理财产品" class='layui-btn layui-btn-sm layui-btn-primary'>添加卖单</button>-->
{/if}
{if auth("$classuri/del")}
{/if}
{/block}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">订单号</label>
        <div class="layui-input-inline">
            <input name="ordersn" value="{$Think.get.ordersn|default=''}" placeholder="订单编号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">会员地址</label>
        <div class="layui-input-inline">
            <input name="address" value="{$Think.get.address|default=''}" placeholder="会员地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id='range-date' value="{$Think.get.create_at|default=''}"
                   placeholder="请选择时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<script>
    window.laydate.render({range: true, elem: '#range-date'});
</script>
<form autocomplete="off" onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="none" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>订单号</th>
            <!--<th class='text-left nowrap'>订单类型</th>-->
            <th class='text-left nowrap'>会员地址</th>
            <th class='text-left nowrap'>单价</th>
            <th class='text-left nowrap'>总数量</th>
            <th class='text-left nowrap'>剩余数量</th>
            <th class='text-left nowrap'>交易量</th>
            <th class='text-left nowrap'>手续费(%)</th>
            <th class='text-left nowrap'>手续费(</th>
            <th class='text-left nowrap'>状态</th>
            <th class='text-left nowrap'>添加时间</th>
            <th class='text-left nowrap'>结束时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                {if condition="$vo.state eq 1"}
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                {/if}
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.id}</span>
            </td>
            <td class='text-left nowrap'>
                {if condition="$vo.state neq 1"}
                <a data-open="{:url('admin/pottrade/matchlist')}?oid={$vo.id}">
                    <span class="color-desc">{$vo.ordersn}</span>
                </a>
                {else/}
                <span class="color-desc">{$vo.ordersn}</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.uid|useraddress}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.price}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.totalnum}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.leavenum}</span>
            </td>
            <td class='text-left nowrap'>
                {$vo.aturnover}
            </td>
            <td class='text-left nowrap'>
                {$vo.tax_rate}
            </td>
            <td class='text-left nowrap'>
                {$vo.tax_money}
            </td>
            <td class='text-left nowrap'>
                {if condition="$vo.state eq 0"}
                <span style="color:#008800;">进行中</span>
                {elseif condition="$vo.state eq 1"/}
                <span style="color:red;">已完成</span>
                {elseif condition="$vo.state eq 2"}
                <span>已撤销</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {$vo.addtime|date="Y-m-d H:i:s"}
            </td>
            <td class="text-left nowrap">
                <!--会员昵称：{$vo.member.nickname|default='<span class="color-desc">未设置会员昵称</span>'|raw}<br>-->
                {notempty name="$vo.endtime"}
                {$vo.endtime|date="Y-m-d H:i:s"}
                {/notempty}
            </td>
            <td class="text-left nowrap">
	            {if condition="$vo.state eq 0"}
	                <a data-update="{$vo.id}" data-action="{:url('delsell')}">撤单</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/if}-->
</form>
{/block}