<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">留言ID</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input readonly="readonly" disabled="disabled" name="id" value='{$info.id|default=""}' required="required" class="layui-input layui-disabled">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">留言标题</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input  name="theme" readonly="readonly" disabled="disabled" value='{$info.theme|default=""}' required="required" class="layui-input layui-disabled">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">用户名</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input  name="userid" readonly="readonly" disabled="disabled" value='{$info.userid|userinfo|default=""}' required="required" class="layui-input layui-disabled">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">联系方式</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input  name="contact" readonly="readonly" disabled="disabled" value='{$info.contact|default=""}' required="required" class="layui-input layui-disabled">-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">留言时间</label>
        <div class="layui-input-block">
            <input  name="tjtime" readonly="readonly" disabled="disabled" value='{$info.tjtime|addtime|default=""}' required="required" class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">留言内容</label>
        <div class="layui-input-block">
            <div style="position:relative">
                <textarea name="usernote" readonly="readonly" class="layui-input layui-disabled">{$info.usernote|default=''}</textarea>
                <script>
                    require(['ckeditor'], function () {
                        var editor = window.createEditor('[name="usernote"]');
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">回复内容</label>
        <div class="layui-input-block">
            <div style="position:relative">
                <textarea name="adminnote">{$info.adminnote|default=''}</textarea>
                <script>
                    require(['ckeditor'], function () {
                        var editor = window.createEditor('[name="adminnote"]');
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {if isset($info['id'])}<input type='hidden' value='{$info.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>确认回复</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消回复吗？" data-close>取消回复</button>
    </div>
    <script>window.form.render();</script>
</form>
