{extend name='admin@public/content'}

{block name="button"}
<!--{if auth("$classuri/add")}-->
<!--<button data-modal='{:url("@$classuri/add")}' data-title="添加等级" class='layui-btn layui-btn-sm layui-btn-primary'>添加等级</button>-->
<!--{/if}-->
<!--{if auth("$classuri/del")}-->
<!--{/if}-->
{/block}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="none" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>最小值</th>
            <th class='text-left nowrap'>最大值</th>
             <th class='text-left nowrap'>放大倍数</th>
            <!--<th class='text-center nowrap'>添加时间</th>-->
            <!--<th class='text-center nowrap'>等级管理</th>-->
            <th class='text-center'></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.id}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.min_score}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.max_score}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.multiple}</span>
            </td>

            <td class='text-center nowrap'>
                {if auth("$classuri/editear")}
                <span class="text-explode">|</span>
                <a data-title="修改等级设置" data-modal='{:url("@$classuri/editscorefl")}?id={$vo.id}'>编辑</a>
                {/if}
            </td>
            <td></td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/if}-->
</form>
{/block}