{extend name='admin@public/content'}

{block name="button"}
{/block}
{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">操作</label>
        <div class="layui-input-inline">
            <select name="field" class='layui-select' lay-search="" style="height: 32px;display: block;">
                <!--<option value='num_id' {eq name="Think.get.num_id" value="num_id" }selected{/eq}>会员id</option>-->
                <option value='username' {eq name="Think.get.username" value="username" }selected{/eq}>账号地址</option>
                <!--<option value='id' {eq name="Think.get.field" value="id" }selected{/eq}>ID</option>-->
            </select>
        </div>
        <div class="layui-input-inline">
            <input name="address" value="{$Think.get.address|default=''}" placeholder="请输入要查询的地址" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name="state"    class='layui-select' lay-search="" style="height: 32px;display: block;">
                <option value=''>请选择</option>
                <option value='1' {eq name="Think.get.state" value="1" }selected{/eq}>未归集</option>
                <option value='2' {eq name="Think.get.state" value="2" }selected{/eq}>已归集</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">时间</label>
        <div class="layui-input-inline">
            <input name="addtime" id='range-date' value="{$Think.get.addtime|default=''}"
                   placeholder="请选择时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<script>
    window.laydate.render({range: true, elem: '#range-date'});
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <!--<th class='list-table-check-td think-checkbox'>-->
                <!--<input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>-->
            <!--</th>-->
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>账号地址</th>
            <th class='text-left nowrap'>区块链地址</th>
            <!--<th class='text-left nowrap'>图片</th>-->
            <th class='text-left nowrap'>币种</th>
            <th class='text-left nowrap'>数量</th>
            <th class='text-left nowrap'>充值时间</th>
            <th class='text-left nowrap'>归集状态</th>
            <th class='text-left nowrap'>归集时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <!--<td class='list-table-check-td think-checkbox'>-->
            <!--<input class="list-check-box" value='{$vo.id}' type='checkbox'>-->
            <!--</td>-->
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.id}</span>
            </td>
             <td class='text-left nowrap'>
                <span class="color-desc">{$vo.user_id|useraddress}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.address}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.coinname}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.num}</span>
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{$vo.addtime|date="Y-m-d H:i:s"}</span>
            </td>
            <td class='text-left nowrap'>
                {switch $vo.is_release}
                {case 1}已完成{/case}
                {default /}未完成
                {/switch}
            </td>
            <td class='text-left nowrap'>
                <span class="color-desc">{notempty name="$vo.gj_time"}{$vo.gj_time|date="Y-m-d H:i:s"}{/notempty}</span>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}